body {
  }

  li {
	display: inline;
	padding: 10px;
  }

  #menu {
	background-color: white;
	border-color: black;
	border-width: 1px;
	border-style: solid;
  }

#profimg{
	height: 400px;
	float: left;
	padding-right: 15px;
}